[user]
	name = Espen Fjellvær Olsen
	email = espen@mrfjo.org
[color]
	ui = auto
[review "review.cyanogenmod.com"]
	username = espenfjo
[http]
	sslVerify = false
[push]
	default = tracking
[pdt]
	gitlabtoken = QYSK6KFtuT3Xijh9SK9W
	setup = true
